.mainFullCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fullCardBody {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.fullCardMovieAndReviews {
  display: flex;
  flex-direction: column;
}
.nameMovie {
  display: flex;
  padding: 2rem 0 2rem 0;
}

.countReviews {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.count {
  margin-left: 5px;
  background-color: #e8b9c5;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 800;
}

.description {
  display: flex;
  color: #575757;
}

.description:hover {
  color: #3a3aab;
  text-decoration: underline;
}

.fullCardReview {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  width: 100%;
  padding-bottom: 1rem;
}