body {
  font-family: "Faculty Glyphic", serif;
  font-weight: 400;
  font-style: normal;
}

.mainHomeBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 95%;
}

.homeBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100vh; */
  background-color: rgba(236, 236, 236, 0.873);
}

.headerBlock {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: rgb(244, 244, 244);
  flex-shrink: 0;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: rgb(244, 244, 244);
  flex-shrink: 0;
}

.mainMovieBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

.movieBlock {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
}

.mainMovieSortBlock {
  display: flex;
  width: 100%;
  padding: .5rem .5rem .5rem 0;
}

.movie{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.countMovie {
  padding: 1rem 1rem 0 0;
}

.outlet {
  display: flex;
  flex-grow: 1;
  /* justify-content: center; */
  width: 100%;
}