.fullCardMovie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 35%;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.movieImageAndRating {
  display: flex;
  width: 80%;
  gap: 5rem;
  height: 250px;
}

.image {
  display: flex;
  padding-top: 1rem;
}

.img {
  width: 150px;
  height: 170px;
}

.rating {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.ratingAndSvg {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 23px;
  }
}

.buttonBlock {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 40px;
  background-color: #fbebf0;
  border-radius: 10px;
  color: black;
  font-weight: 550;
  transition: transform 0.2s, background-color 0.2s;
}

.button:hover {
  background-color: #f5d1dc;
  cursor: pointer;
  transform: scale(1.02);
}

.button:active {
  background-color: #e8b9c5;
  transform: scale(0.95);
}