.movieSortBlock {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.sortPopup {
  position: relative;
  display: inline-block;
  align-items: center;
}

.button {
  background-color: #d5d5d5;
  color: #000000;
  border: none;
  border-radius: 10px;
  width: 221px;
  height: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 550;
}

.button:hover {
  background-color: #b8b8b898 ;
}

.popup {
  position: absolute;
  /* top: 40px; */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  min-width: 150px;
  padding: 10px 0;
}

.popupArrow {
  top: -10px; 
  left: 50%; 
  transform: translateX(100%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;

}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

}

.item {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 550;
}

.item:hover {
  background-color: #f5f5f5;
}